<div class="rounded-box margin-bottom-lg"> {# article #}
    <div style="float: right;">
        {# Without voter #}
        {% for category in categories %}
            {% if product.owner == app.user or is_granted('ROLE_ADMIN') %}
                {# {% if is_granted('EDIT', product) %}#}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_category_remove', {'id': category.id}) }}"><img src="{{ asset('icons/glyphicons-198-remove.png') }}" alt="borrar-publicacion" /></a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    {% for category in categories %}
        <div>


            <strong>Category:</strong> {{ category.categoryname}} ::
            <strong>Created:</strong> {{ product.createdAt|date("d/m/Y H:i:s") }} ::
            <strong>Updated:</strong> {{ product.updatedAt|date("d/m/Y H:i:s") }}
        </div>

    {% endfor %}

</div> {# end article#}
