<div class="rounded-box margin-bottom-lg"> {# article #}
    <div style="float: right;">
        {# Without voter #}
        {% for product in product %}
        {% if product.owner == app.user or is_granted('ROLE_ADMIN') %}
            {# {% if is_granted('EDIT', product) %}#}
            <a href="{{ path('app_products_edit', {'id': product.id}) }}"><img src="{{ asset('icons/glyphicons-151-edit.png') }}" alt="editar-publicacion" /></a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_products_remove', {'id': product.id}) }}"><img src="{{ asset('icons/glyphicons-198-remove.png') }}" alt="borrar-publicacion" /></a>
            {% endif %}
        {% endif %}
        {% endfor %}
    </div>
    {% for product in product %}
    <strong>Author:</strong> <a href="{{ path('app_products_byUser', {'username': product.owner.username}) }}">@{{ product.owner }}</a>
    <a style="margin-top: 0"></a><a style="color: inherit; text-decoration: inherit;" href="{{ path('app_products_show', {'id': product.id}) }}">{{ product.productname }}</a><a href="{{ path('app_products_show', {'id': product.id}) }}"></a>
        <div>

         ::
                <strong>Descripción:</strong> {{ product.description}} ::
                <strong>Precio:</strong> {{ product.price}} ::
        <strong>Created:</strong> {{ product.createdAt|date("d/m/Y H:i:s") }} ::
        <strong>Updated:</strong> {{ product.updatedAt|date("d/m/Y H:i:s") }}
        </div>
        <div style="border-top:1px solid #DDD; padding-top: 10px;">
            <img class="" src="/images/upload/{{ product.imageName }}" title="{{ product.prodFile }}"/>


        </div>
            {% endfor %}

    {% if show_content is defined %}
        <div id="article-content" style="margin-bottom:20px;padding: 0 20px;font-size: medium">
            {{ product.description }}
        </div>
    {% endif %}


</div> {# end article#}
