<div class="rounded-box margin-bottom-lg" style="border-color:orange">


        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">{{ product.productname }}</h3><h3 style="float:right" class="panel-tile">{% if product.owner == app.user or is_granted('ROLE_ADMIN') %}
                        {# {% if is_granted('EDIT', product) %}#}

                        <a href="{{ path('app_products_edit', {'id': product.id}) }}"><img src="{{ asset('icons/glyphicons-151-edit.png') }}" alt="editar-publicacion" /></a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('app_products_remove', {'id': product.id}) }}"><img src="{{ asset('icons/glyphicons-198-remove.png') }}" alt="borrar-publicacion" /></a>
                        {% endif %}

                    {% endif %}</h3>
            </div>
            <div class="panel-body">
                <div class="section">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-2 ">
                                <img class="img-responsive" alt="10x10" src="/images/upload/{{ product.imageName }}" title="{{ product.prodFile }}">
                            </div>
                            <div class="col-md-4">
                                <h5>Propietario: <a href="{{ path('app_products_byUser', {'username': product.owner.username}) }}">@{{ product.owner }}</a></h5>
                                <h5>Precio: {{ product.price}}</h5>
                                <h5>Descripcion: </h5>
                                <p>{{ product.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>

            {% for cat in product.categories %}
                <a class="btn btn-warning btn-xs" href="{{ path('app_products_byCategory', {'categoryname': cat.categoryname}) }}">{{ cat }}</a>
            {% endfor %}

    <div style="clear: both"></div>
    </div>









